In [1]:
#code to connect phython with sql databse
! pip install sqlalchemy pymysql
! pip install cryptography

Requirement already satisfied: sqlalchemy in c:\users\admin\appdata\local\programs\python\python310\lib\site-packages (2.0.43)
Requirement already satisfied: pymysql in c:\users\admin\appdata\local\programs\python\python310\lib\site-packages (1.1.2)
Requirement already satisfied: greenlet>=1 in c:\users\admin\appdata\local\programs\python\python310\lib\site-packages (from sqlalchemy) (3.2.4)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\admin\appdata\roaming\python\python310\site-packages (from sqlalchemy) (4.14.0)

[notice] A new release of pip is available: 23.0.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: cryptography in c:\users\admin\appdata\local\programs\python\python310\lib\site-packages (45.0.7)
Requirement already satisfied: cffi>=1.14 in c:\users\admin\appdata\local\programs\python\python310\lib\site-packages (from cryptography) (1.17.1)
Requirement already satisfied: pycparser in c:\users\admin\appdata\local\programs\python\python310\lib\site-packages (from cffi>=1.14->cryptography) (2.22)

[notice] A new release of pip is available: 23.0.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
from sqlalchemy import create_engine
import pandas as pd
engine = create_engine('mysql+pymysql://root:password@localhost/swiggy_db')

In [19]:
1.# Customers in the 'Frequent Shopper' segment
    #CONCEPT: NORMAL FILTERING
Frequent_shopper="""
Select CustomerID,CustomerName from customers 
where CustomerSegment = "Frequent Shopper"
limit 10;
"""
# Use Pandas to run query and get table
df = pd.read_sql(Frequent_shopper, engine)
print("Customer in frequent shopper:\n",  df)

Customer in frequent shopper:
   CustomerID   CustomerName
0   CUST0002     Diya Patel
1   CUST0004   Ananya Gupta
2   CUST0007    Kabir Mehta
3   CUST0009    Arjun Joshi
4   CUST0011     Riya Verma
5   CUST0015   Aadhya Singh
6   CUST0018   Vivaan Kumar
7   CUST0020    Ayaan Patel
8   CUST0024     Krish Iyer
9   CUST0026  Atharv Chavan

In [20]:
2.#Last 6 months registered customers.
    #CONCEPT:=DATE_SUB() FUNCTION, WHERE CONDITION USED
Registered_Customers ="""
SELECT CustomerName, RegistrationDate
FROM CUSTOMERS
WHERE RegistrationDate >= DATE_SUB(CURDATE(), INTERVAL 6 MONTH);
"""
# Use Pandas to run query and get table
df = pd.read_sql(Registered_Customers, engine)
print("Last 6 months registered customers:\n",  df)

Last 6 months registered customers:
      CustomerName RegistrationDate
0     Kyra Mishra       2025-03-15
1     Anika Reddy       2025-05-01
2       Siya Bose       2025-06-10
3   Saanvi Pillai       2025-07-01
4      Zoya Singh       2025-07-05
5  Myra Chaudhary       2025-07-10
6     Rohan Mehra       2025-07-12
7     Dhruv Patel       2025-07-15

In [30]:
3.# Products with price range between 500 and 1000.
    ## CONCEPT: BETWEEN USED
PRODUCTS="""
SELECT PRODUCTID,PRODUCTNAME ,UNITPRICE FROM PRODUCTS
WHERE UNITPRICE BETWEEN 500 AND 1000;
"""
# Use Pandas to run query and get table
df = pd.read_sql(PRODUCTS, engine)
print("Products with price range between 500 and 1000.:\n",  df)

Products with price range between 500 and 1000.:
   PRODUCTID                                PRODUCTNAME  UNITPRICE
0   PROD044      Pampers Active Baby Diapers M-size 46      699.0
1   PROD045  Pedigree Adult Dog Food Chicken & Veg 3kg      740.0
2   PROD088           MamyPoko Pants Diapers L-size 44      750.0
3   PROD089          Whiskas Adult Cat Food Tuna 1.2kg      550.0
4   PROD133            Borges Olive Oil Extra Light 1L      950.0
5   PROD134                     Figaro Olive Oil 500ml      550.0
6   PROD144    Drools Adult Dog Food Chicken & Egg 3kg      650.0
7   PROD145             Huggies Wonder Pants M-size 42      650.0

In [33]:
4.## Products whose name contains 'Milk'
     #CONCEPT:- WILDCARD CHARACTER USED
MILK_PRODUCTS="""
SELECT ProductName from products
where ProductName like "%%milk%%";
"""

# Use Pandas to run query and get table
df = pd.read_sql(MILK_PRODUCTS, engine)
print("Product name contains milk:\n",  df)

Product name contains milk:
                        ProductName
0      Amul Taaza Toned Milk 500ml
1             Britannia Milk Bread
2     Cadbury Dairy Milk Silk 150g
3  Amul Gold Full Cream Milk 500ml

In [34]:
5.# Top 5 oldest delivery partners
    #CONCEPT:FILTERING & SORTING
OLDEST_DP="""
SELECT DeliveryPartnerID,PartnerName ,HireDate from delivery_partners
order by hireDate asc
limit 5;
"""
# Use Pandas to run query and get table
df = pd.read_sql(OLDEST_DP, engine)
print("Top 5 oldest delivery partners:\n",  df)

Top 5 oldest delivery partners:
   DeliveryPartnerID      PartnerName    HireDate
0             DP001       Ravi Kumar  2022-01-10
1             DP002      Sunita Devi  2022-01-12
2             DP003       Amit Singh  2022-01-15
3             DP041  David Schwimmer  2022-01-20
4             DP004     Pooja Sharma  2022-02-01

In [35]:
6.#Count of delivery partners hired in each year. 
    #CONCEPT USED: GROUP BY , YEAR()FUNCTION , ORDER BY
DP="""
SELECT 
    YEAR(HireDate) AS HireYear,
    COUNT(DeliveryPartnerID) AS PartnerCount
FROM DELIVERY_PARTNERS
GROUP BY YEAR(HireDate)
ORDER BY HireYear;
"""
# Use Pandas to run query and get table
df = pd.read_sql(DP, engine)
print("NO. of delivery partners hired in each year:\n",  df)

NO. of delivery partners hired in each year:
    HireYear  PartnerCount
0      2022            27
1      2023            12
2      2024            11

In [36]:
7.## count of orders per month (across all years)?
    #CONCEPT USED: MONTH(),MONTHNAME(),GROUP BY 
ORDERS_PER_MONTH="""
SELECT 
    MONTH(OrderDate) AS MonthNumber,
    MONTHNAME(OrderDate) AS MonthName,
    COUNT(OrderID) AS TotalOrders
FROM ORDER_TRANSACTIONS
GROUP BY MONTH(OrderDate), MONTHNAME(OrderDate)
ORDER BY MonthNumber;
"""
# Use Pandas to run query and get table
df = pd.read_sql(ORDERS_PER_MONTH, engine)
print("NO. of orders per month :\n",  df)

NO. of orders per month :
     MonthNumber  MonthName  TotalOrders
0             1    January          100
1             2   February           75
2             3      March           97
3             4      April           92
4             5        May           91
5             6       June          102
6             7       July           50
7             8     August           45
8             9  September           43
9            10    October           43
10           11   November           52
11           12   December           51

In [38]:
8.## Which payment method is used most frequently?
      #CONCEPTS USED: AGGGREAGATE FUNCTION, JOIN , GROUP BY,ORDER BY
PAYEMENT_METHOD="""
Select
   o.paymentmethodID,p.PaymentMethodName, count(*) as usagecount
   from Payment_Methods as p 
   left join Order_Transactions as o
   on p.paymentmethodID= o.paymentmethodID
group by o.paymentmethodID,p.paymentmethodName
order by usagecount Desc;
"""
# Use Pandas to run query and get table
df = pd.read_sql(PAYEMENT_METHOD, engine)
print("PAYEMENT_METHODS USED :\n",  df)

PAYEMENT_METHODS USED :
   paymentmethodID PaymentMethodName  usagecount
0           PAY05            Wallet         177
1           PAY03        Debit Card         175
2           PAY01               UPI         174
3           PAY04               COD         169
4           PAY02       Credit Card         146

In [39]:
9.## How many products are available in each category.
         #CONCEPT USED: AGGGREAGATE FUNCTION, JOIN , GROUP BY,ORDER BY
PRODUCTS="""
SELECT 
   C.CategoryName,count(productID) AS ProductCount
   FROM CATEGORIES AS C 
   LEFT JOIN PRODUCTS AS P
   ON C.CategoryID=p.CategoryID
 group by c.categoryName
 ORDER BY ProductCount DESC;
 """
# Use Pandas to run query and get table
df = pd.read_sql(PRODUCTS, engine)
print("Products Availability in each category:\n",  df)

Products Availability in each category:
              CategoryName  ProductCount
0      Snacks & Beverages            26
1     Fruits & Vegetables            21
2                 Staples            20
3           Personal Care            19
4     Cleaning Essentials            17
5           Dairy & Bread            12
6       Bakery & Biscuits            12
7   Instant & Frozen Food             9
8               Baby Care             4
9     Breakfast & Cereals             4
10               Pet Care             3
11       Masalas & Spices             3

In [40]:
10 ##Stores with warehouse capacity less than the average
        #CONCEPT USED: SUBQUERY ,AGGGREAGATE FUNCTION
STORES_CAP="""
SELECT StoreID, WarehouseCapacity
FROM STORES
WHERE WarehouseCapacity < (
    SELECT AVG(WarehouseCapacity)
    FROM STORES);
"""
# Use Pandas to run query and get table
df = pd.read_sql(STORES_CAP, engine)
print("Stores with warehouse capacity less than the average:\n",  df)

Stores with warehouse capacity less than the average:
      StoreID  WarehouseCapacity
0   STORE001              15000
1   STORE004              12000
2   STORE005              16000
3   STORE006              14000
4   STORE008              15000
5   STORE009              13000
6   STORE010              16000
7   STORE011              14000
8   STORE013              15000
9   STORE015              16000
10  STORE019              16000
11  STORE021              15000
12  STORE023              14000

In [47]:
11.## Delivery partners who have delivered more than 20 orders
       ##Concept Used: SUBQUERY, GROUP BY ,HAVING,AGGGREAGATE FUNCTION
DP="""
SELECT 
   DeliveryPartnerID ,PartnerName from Delivery_Partners
   where DeliveryPartnerID IN (
      Select DeliveryPartnerID FROM ORDER_TRANSACTIONS  
	  GROUP BY DeliveryPartnerID
      HAVING COUNT(*) > 20);
"""
# Use Pandas to run query and get table
df = pd.read_sql(DP, engine)
print("Delivery partners who have delivered more than 20 orders:\n",  df)

Delivery partners who have delivered more than 20 orders:
   DeliveryPartnerID   PartnerName
0             DP015   Arun Pillai
1             DP018   Divya Singh
2             DP039    Bobby Deol
3             DP046  Jack Sparrow

In [4]:
12.##.Top supplier provides the most revenue-generating products
        ##Concept Used: JOINS, GROUP BY ,AGGGREAGATE FUNCTION
supplier="""
SELECT 
    S.SupplierName,
    ROUND(SUM(O.TotalPrice),2) AS SupplierRevenue
    FROM SUPPLIERS AS S
    LEFT JOIN PRODUCTS AS P 
    ON S.SupplierID = P.SupplierID
    LEFT JOIN ORDER_TRANSACTIONS AS O 
    ON P.ProductID = O.ProductID
GROUP BY S.SupplierName
ORDER BY SupplierRevenue DESC
LIMIT 5;
"""
# Use Pandas to run query and get table
df = pd.read_sql(supplier, engine)
print("Supplier provides the most revenue-generating products:\n",  df)

Supplier provides the most revenue-generating products:
              SupplierName  SupplierRevenue
0        HUL Distributors        142986.92
1  Fresh Vegetables Co-op        111235.47
2          Amul Dairy Co.         76728.31
3            P&G Supplies         68390.15
4           ITC Logistics         64502.35

In [10]:
13.##Identify products with high stock but low sales.
      #Concepts Used: COALESCE FUNCTION ,JOIN ,GROUP BY , HAVING CLAUSE
PRODUCTS="""
SELECT 
   P.ProductName,P.StockQuantity,
   COALESCE(SUM(O.Quantity), 0) AS TotalSold
FROM PRODUCTS AS P
LEFT JOIN ORDER_TRANSACTIONS AS O 
ON P.ProductID = O.ProductID
GROUP BY P.ProductName, P.StockQuantity
HAVING TotalSold < 200 AND P.StockQuantity > 1000;
"""
# Use Pandas to run query and get table
df = pd.read_sql(PRODUCTS, engine)
print("products with high stock but low sales.:\n",  df)

products with high stock but low sales.:
                       ProductName  StockQuantity  TotalSold
0   Nestle Maggi 2-Minute Noodles           1200       37.0
1   Lays India's Magic Masala 52g           1500        7.0
2        Kurkure Masala Munch 90g           1300       26.0
3        Top Ramen Masala Noodles           1100       22.0
4  Bingo Mad Angles Achaari Masti           1400       78.0
5     Balaji Wafers Simply Salted           1200       27.0
6     Yippee Magic Masala Noodles           1150       23.0
7        Uncle Chipps Spicy Treat           1450       41.0
8                 Too Yumm Karare           1300       31.0

In [16]:
14.## Cities with high order cancellations
        ##CONCEPT USED: JOINS, GROUP BY 
CITIES="""
SELECT 
    A.CityName,
    COUNT(*) AS CancelledOrders
    FROM ORDER_TRANSACTIONS AS O
    LEFT JOIN CUSTOMERS AS C ON O.CustomerID = C.CustomerID
    LEFT JOIN ADDRESS AS A ON C.AddressID = A.AddressID
WHERE O.OrderStatus = 'Cancelled'
GROUP BY A.CityName
ORDER BY CancelledOrders DESC
LIMIT 10;
"""
# Use Pandas to run query and get table
df = pd.read_sql(CITIES, engine)
print("Cities with high order cancellations:\n",  df)

Cities with high order cancellations:
     CityName  CancelledOrders
0    Lucknow               22
1  New Delhi               20
2  Bengaluru               20
3  Hyderabad               14
4     Mumbai               12
5  Ahmedabad               10
6   Gurugram               10
7      Noida                8
8    Kolkata                7
9     Jaipur                6

In [20]:
15.## Customer segment contributing most to revenue.
          ##CONCEPT USED:JOINS, GROUP BY,CONTACTENATION REPRESENTATION 
CUSTOMER_SEGMENT="""
SELECT 
    C.CustomerSegment,
    CONCAT(ROUND(SUM(O.TotalPrice)/1000 , 1), 'K') AS RevenueGenerated
FROM ORDER_TRANSACTIONS O
JOIN CUSTOMERS C ON O.CustomerID = C.CustomerID
GROUP BY C.CustomerSegment
ORDER BY RevenueGenerated DESC;
"""
# Use Pandas to run query and get table
df = pd.read_sql(CUSTOMER_SEGMENT, engine)
print("Customer segment contributing most to revenue:\n",  df)

Customer segment contributing most to revenue:
     CustomerSegment RevenueGenerated
0        High Value           398.9K
1  Frequent Shopper           388.2K
2          New User           273.1K
3            Lapsed           126.3K

In [21]:
16.##Top 2 most expensive products in each category.
      ###ConceptUse: WINDOW FUNCTION :- ROW_NUMBER, CTE

EXPENSIVE_PRODUCTS="""
WITH RankedProducts AS (
    SELECT 
        ProductName,
        CategoryID,
        UnitPrice,
        ROW_NUMBER() OVER (PARTITION BY CategoryID ORDER BY UnitPrice DESC) AS rn
    FROM PRODUCTS
)
SELECT * 
FROM RankedProducts
WHERE rn <= 2;
"""
# Use Pandas to run query and get table
df = pd.read_sql(EXPENSIVE_PRODUCTS, engine)
print("Top 2 most expensive products in each category.:\n",  df)

Top 2 most expensive products in each category.:
                                   ProductName CategoryID  UnitPrice  rn
0                        Imported Avocado 1pc     CAT001      250.0   1
1                       Fresh Pomegranate 1kg     CAT001      220.0   2
2                          Fresh Broccoli 1pc     CAT002       70.0   1
3                         Fresh Capsicum 500g     CAT002       60.0   2
4            Epigamia Greek Yogurt Strawberry     CAT003       45.0   1
5                         Nestle a+ Curd 400g     CAT003       42.0   2
6                            Amul Butter 500g     CAT004      275.0   1
7                     Amul Cheese Slices 100g     CAT004       78.0   2
8                    English Oven Brown Bread     CAT005       55.0   1
9                       Britannia Brown Bread     CAT005       50.0   2
10                 Haldirams Aloo Bhujia 200g     CAT006       55.0   1
11                                Ganesh Bhel     CAT006       45.0   2
12      Raw Pressery Cold Pressed Juice 250ml     CAT007      150.0   1
13             Tropicana 100% Orange Juice 1L     CAT007      140.0   2
14                 Blue Tokai Coffee Roasters     CAT008      450.0   1
15                Nescafe Classic Coffee 100g     CAT008      315.0   2
16         Ashirvaad Select Sharbati Atta 5kg     CAT009      290.0   1
17            Pillsbury Chakki Fresh Atta 5kg     CAT009      280.0   2
18        India Gate Basmati Rice Classic 1kg     CAT010      220.0   1
19              Organic Tattva Brown Rice 1kg     CAT010      150.0   2
20             24 Mantra Organic Toor Dal 1kg     CAT011      210.0   1
21                  Tata Sampann Toor Dal 1kg     CAT011      160.0   2
22            Borges Olive Oil Extra Light 1L     CAT012      950.0   1
23                     Figaro Olive Oil 500ml     CAT012      550.0   2
24                 Gillette Mach3 Turbo Razor     CAT013      299.0   1
25        Vaseline Intensive Care Body Lotion     CAT013      250.0   2
26     Head & Shoulders Anti-Dandruff Shampoo     CAT014      195.0   1
27             Dove Daily Shine Shampoo 180ml     CAT014      190.0   2
28        Listerine Cool Mint Mouthwash 250ml     CAT015      149.0   1
29         Sensodyne Fresh Gel Toothpaste 75g     CAT015      130.0   2
30                   Ariel Matic Top Load 1kg     CAT016      250.0   1
31      Comfort After Wash Fabric Conditioner     CAT016      220.0   2
32              Vim Dishwash Liquid Gel 500ml     CAT017      105.0   1
33                          Pril Dishwash Bar     CAT017       25.0   2
34           Lizol Floor Cleaner Citrus 975ml     CAT018      193.0   1
35         Harpic Powerplus Toilet Cleaner 1L     CAT018      185.0   2
36                 Del Monte Penne Pasta 500g     CAT019      120.0   1
37                  Veeba Pasta & Pizza Sauce     CAT019       99.0   2
38           ITC Master Chef Frozen Peas 500g     CAT020      125.0   1
39                         McCain Smiles 415g     CAT020      115.0   2
40           MamyPoko Pants Diapers L-size 44     CAT021      750.0   1
41      Pampers Active Baby Diapers M-size 46     CAT021      699.0   2
42  Pedigree Adult Dog Food Chicken & Veg 3kg     CAT022      740.0   1
43    Drools Adult Dog Food Chicken & Egg 3kg     CAT022      650.0   2
44                       MDH Deggi Mirch 100g     CAT023       72.0   1
45                 Catch Turmeric Powder 200g     CAT023       65.0   2
46                  Kelloggs Corn Flakes 875g     CAT024      360.0   1
47                            Quaker Oats 1kg     CAT024      199.0   2
48                 Lindt Excellence 90% Cocoa     CAT025      450.0   1
49              Hersheys Chocolate Syrup 623g     CAT025      250.0   2

In [33]:
18.##Rank delivery partners by number of orders handled.
        ## CONCEPT USED:- WINDOW FUNCTION(DENSE RANK),JOIN, AGGREGATE FUNCTION,GROUP BY 
DP="""
SELECT 
    DP.DeliveryPartnerID,
    DP.PartnerName,
    COUNT(OT.OrderID) AS TotalOrders,
    dense_rank() OVER (ORDER BY COUNT(OT.OrderID) DESC) AS PartnerRank
FROM DELIVERY_PARTNERS DP
JOIN ORDER_TRANSACTIONS OT ON DP.DeliveryPartnerID = OT.DeliveryPartnerID
GROUP BY DP.DeliveryPartnerID, DP.PartnerName;
"""

# Use Pandas to run query and get table
df = pd.read_sql(DP, engine)
print("Rank delivery partners by number of orders handled.:\n",  df)

Rank delivery partners by number of orders handled.:
    DeliveryPartnerID      PartnerName  TotalOrders  PartnerRank
0              DP015      Arun Pillai           31            1
1              DP046     Jack Sparrow           28            2
2              DP018      Divya Singh           26            3
3              DP039       Bobby Deol           23            4
4              DP047           Kramer           20            5
5              DP017    Chetan Bhagat           20            5
6              DP001       Ravi Kumar           20            5
7              DP042    Elena Gilbert           20            5
8              DP022      Harish Iyer           20            5
9              DP032      Tina Ambani           20            5
10             DP010      Manoj Kumar           19            6
11             DP004     Pooja Sharma           19            6
12             DP019       Esha Gupta           19            6
13             DP041  David Schwimmer           19            6
14             DP027    Nisha Agarwal           19            6
15             DP030     Rani Mukerji           18            7
16             DP043   Fiona Glenanne           18            7
17             DP031      Sanjay Dutt           18            7
18             DP012    Ganesh Murthy           18            7
19             DP033       Usha Uthup           18            7
20             DP005     Suresh Patel           18            7
21             DP002      Sunita Devi           18            7
22             DP037      Zeenat Aman           18            7
23             DP013   Vikram Rathore           18            7
24             DP003       Amit Singh           18            7
25             DP035      Wasim Akram           17            8
26             DP028    Omar Abdullah           17            8
27             DP008     Rajesh Gupta           17            8
28             DP021       Gauri Khan           17            8
29             DP050   Naruto Uzumaki           16            9
30             DP006     Deepak Yadav           16            9
31             DP044  George Costanza           16            9
32             DP048     Lisa Simpson           16            9
33             DP036     Yusuf Pathan           16            9
34             DP020       Farhan Ali           15           10
35             DP049    Michael Scott           15           10
36             DP009     Anjali Verma           15           10
37             DP038      Anil Kapoor           14           11
38             DP040    Chandler Bing           13           12
39             DP016      Bhavna Shah           13           12
40             DP045    Homer Simpson           12           13
41             DP011     Laxmi Prasad           12           13
42             DP007     Meena Kumari           12           13
43             DP014      Sneha Reddy           12           13
44             DP024    Jaya Bachchan           12           13
45             DP029      Prakash Raj           11           14
46             DP025      Karan Johar           10           15
47             DP023      Imran Pasha            9           16
48             DP034     Vivek Oberoi            8           17
49             DP026      Mahesh Babu            7           18

In [43]:
18.#Categorize products as 'Low Stock', 'Medium Stock', or 'High Stock'.
         ##CONCEPT USED: CASE STATEMENT 

PRODUCTS="""
SELECT 
    ProductID,
    ProductName,
    CategoryID,
    StockQuantity,
    CASE
       WHEN StockQuantity < 200 then 'Low Stock'
       WHEN StockQuantity BETWEEN 200 AND 800 THEN 'Medium Stock'
       ELSE 'High Stock'
	END AS StockCategory
    from Products;
"""
# Use Pandas to run query and get table
df = pd.read_sql(PRODUCTS, engine)
print("Categorize products:\n",  df)

Categorize products:
     ProductID                            ProductName CategoryID  \
0     PROD001            Amul Taaza Toned Milk 500ml     CAT003
1     PROD002                   Britannia Milk Bread     CAT005
2     PROD003          Nestle Maggi 2-Minute Noodles     CAT019
3     PROD004                  Tata Salt Iodized 1kg     CAT012
4     PROD005     Ashirvaad Select Sharbati Atta 5kg     CAT009
..        ...                                    ...        ...
145   PROD146                Himalaya Baby Wipes 72s     CAT021
146   PROD147  Comfort After Wash Fabric Conditioner     CAT016
147   PROD148        Vanish Oxi Action Stain Remover     CAT016
148   PROD149         Baygon All Insect Killer Spray     CAT018
149   PROD150     Duracell Ultra AA Batteries 4-pack     CAT018

     StockQuantity StockCategory
0              500  Medium Stock
1              300  Medium Stock
2             1200    High Stock
3              800  Medium Stock
4              250  Medium Stock
..             ...           ...
145            300  Medium Stock
146            350  Medium Stock
147            300  Medium Stock
148            400  Medium Stock
149            500  Medium Stock

[150 rows x 5 columns]

In [44]:
19.##Average delivery time per city and rank them.
      ##CONCEPT USED:- WINDOW FUNCTION(),AGGEGATE FUNCTION, JOINS, GROUP BY 
DELIVERY_TIME="""
SELECT 
    A.CityName,
    ROUND(AVG(OT.DeliveryTimeMinutes), 2) AS AvgDeliveryTime,
    DENSE_RANK() OVER (ORDER BY AVG(OT.DeliveryTimeMinutes) ASC) AS CityRank
FROM ORDER_TRANSACTIONS AS OT
LEFT JOIN DELIVERY_PARTNERS AS DP 
    ON OT.DeliveryPartnerID = DP.DeliveryPartnerID
LEFT JOIN ADDRESS AS A 
   ON DP.AddressID = A.AddressID
WHERE OT.OrderStatus = 'Delivered'
GROUP BY A.CityName;
"""
# Use Pandas to run query and get table
df = pd.read_sql(DELIVERY_TIME, engine)
print("Average delivery time per city ranking :\n",  df)

Average delivery time per city ranking :
        CityName  AvgDeliveryTime  CityRank
0       Chennai            16.25         1
1     Mangaluru            16.50         2
2     Bengaluru            17.19         3
3   Bhubaneswar            18.60         4
4         Kochi            18.67         5
5        Jaipur            19.00         6
6          Pune            19.67         7
7       Lucknow            19.67         7
8        Mumbai            19.86         8
9     New Delhi            19.89         9
10        Patna            20.00        10
11   Chandigarh            20.00        10
12       Bhopal            20.50        11
13    Hyderabad            20.56        12
14    Ahmedabad            21.25        13
15     Gurugram            21.36        14
16        Noida            22.50        15
17       Mysuru            23.00        16
18   Coimbatore            23.50        17
19      Kolkata            24.67        18

In [45]:
20.##Ranking customers based on the total amount they've spent.
        ##CONCEPT USED: CTE, WINDOW FUNCTION
Customer_Ranking="""
WITH CustomerSpending AS (
    SELECT 
        CustomerID,
        Round(SUM(TotalPrice),2) AS TotalSpent
    FROM ORDER_TRANSACTIONS
    GROUP BY CustomerID
),
RankedCustomers AS (
    SELECT 
        cs.CustomerID,
        c.CustomerName,
        cs.TotalSpent,
        RANK() OVER (ORDER BY cs.TotalSpent DESC) AS SpendingRank
    FROM CustomerSpending AS cs
    LEFT JOIN CUSTOMERS AS c ON cs.CustomerID = c.CustomerID
)
SELECT * 
FROM RankedCustomers
ORDER BY SpendingRank;
"""
# Use Pandas to run query and get table
df = pd.read_sql(Customer_Ranking, engine)
print("Rank of customers on the total amount they've spent. :\n",  df)

Rank of customers on the total amount they've spent. :
    CustomerID    CustomerName  TotalSpent  SpendingRank
0    CUST0038  Myra Chaudhary    42272.94             1
1    CUST0017     Anika Reddy    42094.93             2
2    CUST0042     Aditi Gupta    37813.24             3
3    CUST0032      Zoya Singh    36276.60             4
4    CUST0048     Anaya Kumar    36042.03             5
5    CUST0040     Tara Khanna    35612.61             6
6    CUST0006    Saanvi Reddy    34549.77             7
7    CUST0049      Veer Singh    32610.89             8
8    CUST0003    Vihaan Singh    32132.91             9
9    CUST0001    Aarav Sharma    31852.47            10
10   CUST0002      Diya Patel    30524.18            11
11   CUST0014    Shaurya Nair    29332.38            12
12   CUST0045    Aryan Sharma    27990.09            13
13   CUST0026   Atharv Chavan    27387.66            14
14   CUST0012  Ishaan Agarwal    27288.88            15
15   CUST0036         Eva Ali    27203.35            16
16   CUST0023       Siya Bose    26915.13            17
17   CUST0025      Anvi Desai    26630.34            18
18   CUST0018    Vivaan Kumar    25453.05            19
19   CUST0004    Ananya Gupta    23447.48            20
20   CUST0022      Neel Menon    23405.37            21
21   CUST0021       Pari Jain    23121.07            22
22   CUST0041     Arjun Reddy    23090.90            23
23   CUST0033       Kabir Das    22540.46            24
24   CUST0034      Ira Saxena    22454.02            25
25   CUST0030      Yash Mehta    22443.07            26
26   CUST0043     Rohan Mehra    22188.96            27
27   CUST0009     Arjun Joshi    22177.00            28
28   CUST0046    Ishita Verma    22064.80            29
29   CUST0037    Rudra Pandey    21553.00            30
30   CUST0035      Dev Sharma    20558.59            31
31   CUST0029      Navya Bhat    20522.91            32
32   CUST0031    Aarohi Kumar    20428.47            33
33   CUST0007     Kabir Mehta    20276.82            34
34   CUST0008       Myra Shah    20118.91            35
35   CUST0027   Saanvi Pillai    19822.29            36
36   CUST0010       Zara Khan    19039.24            37
37   CUST0047     Dhruv Patel    16607.08            38
38   CUST0039       Sai Joshi    16532.24            39
39   CUST0024      Krish Iyer    15937.62            40
40   CUST0019    Kiara Sharma    15434.29            41
41   CUST0050    Samaira Khan    15419.31            42
42   CUST0020     Ayaan Patel    15079.49            43
43   CUST0015    Aadhya Singh    14742.51            44
44   CUST0013     Kyra Mishra    14695.67            45
45   CUST0016   Reyansh Gupta    14172.23            46
46   CUST0044    Khushi Singh    14084.75            47
47   CUST0028       Arnav Rao    13993.18            48
48   CUST0005     Advik Kumar    12083.85            49
49   CUST0011      Riya Verma     8533.43            50

In [46]:
21.##Customers who placed an order but never received it (order status not 'Delivered').
        ##CONCEPT USED: CTE, WINDOW FUNCTION ,JOINS,CASE STATEMENTS
NOT_DELIVERED="""
WITH OrderStatusSummary AS (
    SELECT 
        CustomerID,
        MAX(CASE WHEN OrderStatus = 'Delivered' THEN 1 ELSE 0 END) AS HasDeliveredOrder
    FROM ORDER_TRANSACTIONS
    GROUP BY CustomerID
),
LatestOrders AS (
    SELECT 
        ot.CustomerID,
        ot.OrderStatus,
        ROW_NUMBER() OVER (PARTITION BY ot.CustomerID ORDER BY ot.OrderDate DESC) AS row_num
    FROM ORDER_TRANSACTIONS AS ot)
SELECT 
    c.CustomerID,
    c.CustomerName,
    lo.OrderStatus AS CurrentOrderStatus
FROM OrderStatusSummary AS oss
JOIN CUSTOMERS AS c ON c.CustomerID = oss.CustomerID
JOIN LatestOrders AS lo ON c.CustomerID = lo.CustomerID AND lo.row_num = 1
WHERE oss.HasDeliveredOrder = 0;
"""
# Use Pandas to run query and get table
df = pd.read_sql(NOT_DELIVERED, engine)
print("Customers who placed an order but never received a order :\n",  df)

Customers who placed an order but never received a order :
   CustomerID CustomerName CurrentOrderStatus
0   CUST0029   Navya Bhat           Returned
1   CUST0010    Zara Khan            Shipped
2   CUST0007  Kabir Mehta            Pending